.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f4f6f8; // 부드러운 배경색
  overflow: hidden;
}

.mainContent {
  display: flex;
  flex: 1;
  padding: 0.2rem 0.5rem;
  gap: 0.5rem; // 목록과 지도 사이의 간격
  overflow: hidden;
}

.listWrapper {
  width: 400px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-right: 1px solid #e9ecef; // 너비 비율
  max-width: 400px; // 최대 너비 제한
  min-height: 0; // flex 자식 요소의 높이가 부모를 넘어 확장되는 것을 방지

  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden; // 내부 컨텐츠가 넘치지 않도록
}

.mapWrapper {
  flex-grow: 1; // 너비 비율
  display: flex;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden; // 지도가 모서리를 벗어나지 않도록
}
